:host {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  align-items: center;
  background-color: var(--mat-sys-surface);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1.5rem;

  .navigation {
    column-gap: 16px;
    display: flex;
  }
}
