:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2rem;
}

.image {
  max-height: 60vh;
  max-width: 90%;
}
